ul{list-style: none;}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../Pictures/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container > li {
  width: 1000px;
  height:550px;
  margin: 10px;
  text-align: center;
  color: white;
}