body{ 
    font-family: Arial, Helvetica, sans-serif;
    }

.header {
    padding: 100px;
    text-align: center;
    background-image: url(../pictures/project5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
    }

h2{
    text-align: center;
}